@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
font-family: "Bungee", sans-serif;
  font-style: normal;
  text-align: center;
  text-decoration: underline;
  font-size: 36px;
  font-weight: 500px;
  font-style: normal;
  line-height: 50px;
}

